<div style="text-align:center">
  <h1> Welcome to {{title}}! </h1>
	<h2>Product List</h2>
  <div class="container">          
	  <table class="table table-striped table-bordered table-hover" *ngIf="products && products.length"  >
	    <thead>
	      <tr>
	        <th>Id</th>
	        <th>Name</th>
	        <th>Description</th>
	        <th>Price</th>
	        <th></th>
	      </tr>
	    </thead>
	    <tbody>
        <tr *ngFor="let product of products; let i=index;">
          <td *ngIf="((i>=((j-1)*5)) && (i<(j*5)))">{{product.productId}}</td>
          <td *ngIf="((i>=((j-1)*5)) && (i<(j*5)))">{{product.productName}}</td>
          <td *ngIf="((i>=((j-1)*5)) && (i<(j*5)))">{{product.description}}</td>
          <td *ngIf="((i>=((j-1)*5)) && (i<(j*5)))">{{product.price}}</td>
          <td *ngIf="((i>=((j-1)*5)) && (i<(j*5)))"><a [routerLink]="['/editProducts',product.productId]" type="button" class="btn btn-info">Edit</a>
          <button type="button" class="btn btn-danger" [routerLink]="['/']" (click)="delete(i)">Delete</button></td>
        </tr>
			</tbody>
			<tr>
				<td colspan="2">
					<ul class="pagination">
						<li *ngIf="j>1"><a href="#" [routerLink]="['/']" (click)="prev()">&laquo; Previous</a></li>
						<li *ngIf="j==1"><a href="#" [routerLink]="['/']" (click)="prev()" class="btn disabled">&laquo; Previous</a></li>
						<li *ngFor="let page of pages">
							<a href="#" [routerLink]="['/']" (click)="changePage(page)" >{{page}}</a>
						</li>
						<li *ngIf="j<pages.length"><a href="#" [routerLink]="['/']" (click)="next()">Next &raquo;</a></li>
						<li *ngIf="j==pages.length"><a href="#" [routerLink]="['/']" (click)="next()" class="btn disabled">Next &raquo;</a></li>
					</ul>
				</td>
			</tr>
		</table>
		
		<div>
			<a [routerLink]="['/addProducts']" type="button" class="btn btn-success">Add Product</a>
			<span *ngIf="this.products.length">
				<a type="button" class="btn btn-danger" (click)="deleteAll()">Delete All</a>
			</span>
		</div>
	</div>
</div>

