*{
    margin:0;
    padding:0;
}
a{
    text-decoration: none;
}


.contentLeft{

    /* display: inline-block; */
    width:934px;
    height: 600px;    
    float: left;
    
}
.contentRight{
    float: right;
    
    width: 250px;
    height:600px;
    /* background:rgb(241, 241, 255); */
    background: rgb(204, 204, 204);
    vertical-align: top;
    padding: 30px;
}
.book-showcase
{
    border: 1px solid rgb(216, 216, 216);
    border-radius: 9px;
    padding: 12px;
}
#aViewMore
{
    float:right;
}
.div-book
{
    width: 130px;
    height: 230px;
    /* background:rgb(255, 213, 213); */
    display:inline-block;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: top;
}
.book-data
{
    padding:10px;
}
.tableCart{
    background: white;
}
