<div align="center">
  <h1>Edit Product Details</h1>
  <hr/><br/><br/>
  <!-- <form [formGroup]="editForm">
    <div class="form-group" *ngIf="editingProduct">
      <label>Id:
        <input type="text" class="form-control" formControlName="id" value="editingProduct.productId">
      </label>
      <br><br>
      <label>Name:
        <input type="text" class="form-control" formControlName="name">
      </label>
      <br><br>
      <label>Description:
        <input type="text" class="form-control" formControlName="description">
      </label>
      <br><br>
      <label>Price:
        <input type="number" class="form-control" formControlName="price">
      </label>
      <br><br><br/>
    </div>
  </form> -->

  <form [formGroup]="editForm" class="form-horizontal" *ngIf="editingProduct" style="width:500px;">
    <div class="form-group">
      <label class="control-label col-sm-2" for="id">ID:</label>
      <div class="col-sm-8">
        <input type="text" class="form-control" id="id" formControlName="id" value="editingProduct.productId" disabled>
      </div>
    </div><br/>
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Product Name:</label>
      <div class="col-sm-8"> 
        <input type="text" class="form-control" id="name" formControlName="name">
      </div>
    </div><br/>
    <div class="form-group">
      <label class="control-label col-sm-2" for="desc">Description:</label>
      <div class="col-sm-8"> 
        <input type="text" class="form-control" id="desc" formControlName="description">
      </div>
    </div><br/>
    <div class="form-group">
      <label class="control-label col-sm-2" for="price">Price:</label>
      <div class="col-sm-8"> 
        <input type="text" class="form-control" id="price" formControlName="price">
      </div>
    </div><br/><br/><br/>
    <button (click)="editValues()" type="button" class="btn btn-primary">Submit</button>
    <button type="button" class="btn btn-warning" [routerLink]="['']">Cancel</button><br/><br/>
    <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
  </form>
</div>
