a{
    text-decoration: none;
}

.rarr{
    font-size:7px;
    font-weight: bold;
    position: relative;
    top: -2px;
}

.tableCart{
    background: white;
}

.contentRight{
    background: rgb(204, 204, 204);
    /* vertical-align: top; */
    padding: 30px;
    height:600px;
}

.header{
    width:100%;
    height:104px;
    background:rgb(0,83,115);
    border-bottom: 5px solid rgb(195,233,245);
}
.nav-menu{
    float:right;
    color:white;
}
.nav-menu li{
    list-style-type: none;
    display:inline;
    padding-left: 10px;
    padding-right: 10px;
    
}
.nav-menu a,.nav-menu a:hover,.nav-menu a:focus{
    color:white;
}
.content{
    position: relative;
    top: -49px;
}
.content-header
{

    padding-top: 5px;
    
    background:rgb(58, 175, 214);
    border-radius: 8px 8px 0 0;
    
}
.search-div
{
    margin-left:40px;
}
.contentLeft{

    /* display: inline-block; */
    /* width: 250px; */
    height: 600px;
    
    /* background: rgb(189, 189, 189); */
    
    

}
.side-menu
{
    width: 254px; 
    background: rgb(254,253,244);
    border:1px solid #dccb8e;
    border-bottom: 4px solid #dccb8e;
    position: relative;
    top: -38px;
    left: 5px;
    border-radius: 4px 4px 0 0;
    padding:1px;
    font-size: 15px;
    font-weight: bold;
}
.side-menu-heading{
    background-color: #fdd649;
    border:1px solid rgb(220, 203, 142);
    border-radius: 2px;
    padding: 5px 10px;
    position: relative;
    left: -3px;
    margin-bottom: -1px;
}

.side-menu li{
    list-style-type: none;
    height: 33px;
    width: 240px;
    background: rgb(254,253,244);
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 3px;
    border-bottom: 1px solid rgb(211,221,218);
    line-height: 13px;
}
.side-ad
{
    padding-top: 1px;
    border: 1px solid #e6e6e6;
    position: relative;
    left: 6px;
}
.side-ad-header{
    height:50px;
    background:rgb(241,241,241);
    margin-top: -21px;
}
.side-ad-content{
    height:190px;
    padding-top: 15px;
}
.side-ad-footer{
    height:50px;
    background:rgb(241,241,241);
}

.book-showcase
{
    border: 1px solid rgb(216, 216, 216);
    margin-top: 30px;
    margin-right: 10px;
    padding: 10px;
}
#aViewMore
{
    float:right;
    
}
.div-book
{
    width: 135px;
    height: 230px;
    display:inline-block;
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: top;
    z-index:10;
}
.div-book img{
width: 75px;
}
.new-price{
    color:red;
}
.book-data
{
    padding:1px;
}
.book-data span{
    font-size:12px;
}
.btn-yellow {
    color: rgb(0, 0, 0);
    background-color: rgb(253,221,63);
    border-color: rgb(251, 196, 8) !important;
    
  }
  .btn-yellow:focus,
  .btn-yellow.focus {
    color: rgb(0, 0, 0);
    background-color: rgb(253,203,29);
    border-color: rgb(251, 196, 8) !important;
  }
