a{
    color:rgb(11,64,162) !important;
}
.cart-logo{
    width: 30px;
    position: relative;
    top: -6px;
}
.cart-heading{
    color: rgb(64, 61, 146);
    font-size: 30px;
    display:inline-block;
}
.signin{
    display: inline-block;
    font-size: 13px;
    position: relative;
    top: 4px;
    left: 5px;
    line-height: 15px;
}
.cart-table-heading{
    background-color: rgb(214,235,255);
    font-weight: bold;
    padding: 8px 0;
}
.btn-pale-yellow{
    background-color:rgb(246,246,212);
    color: rgb(73,68,130);
    border:1px solid rgb(157,157,126) !important;
    font-weight: bold !important;
    border-radius: 10px !important;
}
.small-text{
    font-size:12px;
}
.orange-text{
    color:rgb(231,148,91) !important;
    font-weight: bold;
}

.img-gift{
    width: 20px;
}
.cart-item{
    padding: 20px 0 !important;
    border-bottom:2px solid rgb(223,227,198) !important;
}
.cart-item-title{
    font-weight:bold;
}
.price{
    font-weight: bold;
}
.price,.discount-price{
    color:rgb(167,28,3);
}