<div align="center">
  <h1 style="text-align:center">Add Product Details</h1>
  <hr/><br/><br/>
  <!-- <form [formGroup]="newProduct" style="text-align:center">
    <div class="form-group">
      <label>ID:
        <input type="number" class="form-control" formControlName="productId" required>
      </label><br/><br/>
      <label>Name:
        <input type="text" class="form-control" formControlName="productName" required>
      </label><br/><br/>
      <label>Description:
        <input type="text" class="form-control" formControlName="description" required>
      </label><br/><br/>
      <label>Price:
        <input type="number" class="form-control" formControlName="price" required>
      </label><br/><br/><br/>
      <button class="btn btn-primary" id="submitbtn" type="submit" (click)="add()">Submit</button>
      <button class="btn btn-warning" id="cancelbtn" [routerLink]="['/']">Cancel</button>
      <br>
      <p style="color:red;">{{ errorMessage }}</p>
    </div>
  </form>
</div> -->
  <form [formGroup]="newProduct" class="form-horizontal" style="width:500px;">
    <div class="form-group">
      <label class="control-label col-sm-2" for="id">ID:</label>
      <div class="col-sm-8">
        <input type="number" class="form-control" id="id" formControlName="productId">
      </div>
    </div><br/>
    <div class="form-group">
      <label class="control-label col-sm-2" for="name">Product Name:</label>
      <div class="col-sm-8"> 
        <input type="text" class="form-control" id="name" formControlName="productName">
      </div>
    </div><br/>
    <div class="form-group">
      <label class="control-label col-sm-2" for="desc">Description:</label>
      <div class="col-sm-8"> 
        <input type="text" class="form-control" id="desc" formControlName="description">
      </div>
    </div><br/>
    <div class="form-group">
      <label class="control-label col-sm-2" for="price">Price:</label>
      <div class="col-sm-8"> 
        <input type="number" class="form-control" id="price" formControlName="price">
      </div>
    </div><br/><br/><br/>
    <button class="btn btn-primary" id="submitbtn" type="submit" (click)="add()">Submit</button>
    <button class="btn btn-warning" id="cancelbtn" [routerLink]="['/']">Cancel</button>
    <br><br>
    <div class="alert alert-danger" *ngIf="errorMessage">{{ errorMessage }}</div>
  </form>
</div>

